:root { 
--white_A700_4c:#ffffff4c; 
--gray_700:#575757; 
--gray_400:#bdbdbd; 
--bluegray_600_00:#478c7000; 
--gray_800:#454545; 
--gray_801:#404040; 
--white_A700_a8:#ffffffa8; 
--gray_300:#e6e6e6; 
--gray_50:#fcfcfc; 
--teal_A400:#29ccba; 
--teal_100:#a8e0c9; 
--bluegray_900:#333333; 
--teal_400:#47ab82; 
--white_A700_cc:#ffffffcc; 
--bluegray_800:#335447; 
--bluegray_600:#478c70; 
--black_900:#000000; 
--white_A700:#ffffff; 
}